/* themes.css */
:root {
    --background-color: #efecec;
    --text-color: #000000;
}

.dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}